/* TopAssetsList component styles */

.top-assets-container {
  max-width: 800px;
  margin: 0 auto;
}

.asset-list {
  list-style-type: none;
  padding: 0;
}

.asset-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.rank {
  font-weight: bold;
}

.name {
  margin-left: 20px;
}

.price {
  margin-left: 20px;
}

/* Search bar styles */
.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.search-button, .Favoratie-button {
  background-color: #007bff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  color: #010101;
}

.search-button:hover , .Favoratie-button {
  background-color: #0056b3;
}

/* Favorites section styles */
.favorites {
  margin-top: 20px;
}

.favorites h2 {
  margin-bottom: 10px;
}

.favorites ul {
  list-style-type: none;
  padding: 0;
}

.favorites li {
  margin-bottom: 5px;
}



