.Container-Fear , .Container-Graph ,.Container-CoinM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-left: 2rem;
}

.Container-Fear {
    margin-top: 20vh;
}

.Container-CoinM,.Container-Graph {
    margin-top: 8vh;
}

.Container-Volume {
    margin-left: 3rem;
}

.Container-Fear {
    height: 300px;

}

* {
    color: aliceblue;
}

